<!DOCTYPE html>
<html>

<head>
    <title>CONTACT</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>
    <div class="card">
        <img src={{img1}} draggable="false" alt="mohamed-abdlwahed-image" />
    </div>
    <h2>{{title}} US</h2>
    <h2>PHONE : {{phone}}</h2>
    <h2>NAME : {{name}}</h2>
    <h2>EMAIL : {{email}}</h2>

    <div>
        {{>footer}}
    </div>
    
</body>

</html>