<!DOCTYPE html>
<html>

<head>
    <title>New Project in node hbs Service</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>

    <h2>Title : {{title}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>Name : {{name}}</h2>
    <h2>City : {{city}}</h2>
    <div class="card">
        <img src={{img1}} draggable="false" alt="mohamed-abdlwahed-image" />
    </div>

<div>
    {{>footer}}
</div>
</body>

</html>